# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl
override.tf
*_override.tf

# Go
*.exe
*.dll
*.so
*.dylib
*.test
*.out
go.work
vendor/
app/main
app/app

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Build artifacts
crash.log