###############################################
# Example variables for GKE Autopilot cluster #
###############################################

# Basics
cluster_name = "autopilot-cluster"

# Set these if your CI doesn't provide gcloud context
# region     = "us-central1"
# project_id = "your-gcp-project"

# Labels
environment = "dev"          # dev|staging|prod
owner_label = "platform"      # team/owner label

# Security
# Replace with your trusted CIDR(s)
master_cidr = "0.0.0.0/0"

# Google Groups for GKE (Authenticator groups)
rbac_security_group = "group:your-group@your-domain.com"

# Networking (custom VPC)
subnet_cidr   = "10.20.0.0/20"
pods_cidr     = "10.20.32.0/19"
services_cidr = "10.20.64.0/22"
